{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ticket</title>
    <link rel="stylesheet" href="{% static 'book_ticket.css' %}">
</head>

<body>
    <div class="container">
        <h2>Booked Ticket</h2>
        <p>Your ticket for Flight {{ flight_number }} has been booked. Your ticket number is {{ booked_tickets }}.</p>
        <a href="{% url 'flights' %}"><button>Back to Flights Page</button></a>
    </div>
</body>

</html>