{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
    <link rel="stylesheet" href="{% static 'flights.css' %}" />
</head>

<body>
    <div class="container">
        <div class="top-right">
            {% if user.is_authenticated %}
            {% if user.user_type == 'admin' %}
            <a href="{% url 'search_flights' %}"><button>Flight Bookings</button></a>
            {% else %}
            <a href="{% url 'my_bookings' %}"><button>My Bookings</button></a>
            {% endif %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% endif %}
        </div>

        <h1>Available Flights</h1>
        <div class="add-flight">
            {% if user.is_authenticated %}
            {% if user.user_type == 'admin' %}
            <a href="{% url 'add_flight' %}"><button>Add Flights</button></a>
            {% endif %}
            {% endif %}
        </div>

        <!-- Filter Form -->
        <div class="filter-container">
            <form method="post" action="{% url 'flights' %}">
                {% csrf_token %}
                <label for="from_date">From Date:</label>
                <input type="date" id="from_date" name="from_date">
                <label for="to_date">To Date:</label>
                <input type="date" id="to_date" name="to_date">
                <br>
                <label for="from_time">From Time:</label>
                <input type="time" id="from_time" name="from_time">
                <label for="to_time">To Time:</label>
                <input type="time" id="to_time" name="to_time">
                <br>
                <input type="submit" value="Search">
            </form>
        </div>

        {% for flight in flights %}
        <div class="flight-box">
            <h3>Flight ID: {{ flight.flight_number }}</h3>
            <p>Departure Date: {{ flight.departure_date }}</p>
            <p>Departure Time: {{ flight.departure_time }}</p>
            <p>Seats Left: {{flight.seats_left}}</p>

            {% if user.is_authenticated %}
            {% if user.user_type == 'admin' %}
            <form method="post" action="{% url 'remove_flight' flight.flight_number %}">
                {% csrf_token %}
                <button type="submit" class="remove-btn"
                    onclick="return confirm('Are you sure you want to delete this flight?')">Remove Flight</button>
            </form>
            {% endif %}
            {% endif %}

            {% if user.is_authenticated %}
            {% if user.user_type == 'user' %}
            <form method="post" action="{% url 'book_ticket' flight.flight_number %}">
                {% csrf_token %}
                <button type="submit" class="book-btn"
                    onclick="return confirm('Are you sure you want to book a ticket for this flight?')">Book
                    Ticket</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>

</html>