{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Bookings</title>
    <link rel="stylesheet" href="{% static 'user_bookings.css'%}">
</head>

<body>
    <div class="container">
        <h1>Your Bookings</h1>
        {% for booking in bookings %}
        <div class="booking">
            <div class="top-left">Flight ID: {{ booking.flight.flight_number }}</div>
            <div class="top-right">Username: {{ booking.user.username }}</div>
            <div class="booking-details">
                <p>Departure Time: {{ booking.flight.departure_time }}</p>
                <p>Booking Time: {{ booking.booking_time }}</p>
                <p>Seat Number: {{ booking.seat_number }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>